* {
	box-sizing: border-box;
}

html, body, figure {
	padding: 0;
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f4f6;
    color: #3b3b3b;
    font-size: 16px;
    line-height: 1.6;
}

a {
    color: #b5caf5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    background-color: #3b3b3b;
    text-align: center;
    color: #ffffff;
    margin-top: 0.2rem;
    padding: 1rem;
}

.content-box {
    background-color: #fffdf9;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
}

div.content-box table {
    border-collapse: collapse;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.content-box th {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #3b3b3b;
    color: #ffffff;
}

div.content-box td {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f3f4f6;
}


/*Nav bar*/
nav {
    background-color: #546a9c;
    border-bottom: 1px solid #f5d5b8;
    padding: 1rem 0;
    width: 100%;
    font-size: large;
}
  
.nav-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
  
.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.2s ease;
}
  
.nav-links li a:hover {
    color: #ff811a;
}

#fraud-time-chart, #fraud-map {
    border-radius: 0.5rem; 
}

/*
Background: #fffdf9 (ivory white)

Accent: #8b5cf6 (soft purple)

Text: #3b3b3b (dark charcoal)

Light: #f3f4f6 (light stone)
*/